.side-bar {
  background-color: #393a44;
  width: 100%;
}
@media all and (min-width: 400px){
#accordionSidebar{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin-top: 8px;
  margin-left: auto;
  padding: auto;
}
.navbar-nav .nav-link{
 padding-right:10px;
}
}
