input, select{
    margin-left: 5px;
}
.rtable{
    /* max-width: none;
        table-layout: fixed; 
        word-wrap: break-word; */
        /* width: 100%; */
        overflow-x: auto;
}
.ljTable{
    width: 50%;
}
.ljbutton{
    width:70px;
    margin:2px;
}
@media all and (max-width: 500px){
    .ljTable{
      width: 100%;
    }
}
@media all and (min-width: 800px){
    .rtable{
      width: 100%;
    }
}